/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  padding: 40px;
}
.heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 600;
  color: #f8fafc;
}
.image {
  width: 200px;
}
.imageDiv {
  text-align: center;
}
